<div class="bg-image"></div>
<div class="bg-overlay"></div>

<div class="session-container">
  <div id="login-logo-container">
    <img
      src="assets/images/MAX_cinema_1.png"
      alt="Max Cinema Logo"
      id="login-logo"
    />
  </div>

  <div class="container" id="session-card">
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    <div class="card">
      <h4 class="card-header my-2 fs-2">Registrarse</h4>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
            />
            <div
              *ngIf="submitted && f.firstName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.firstName.errors.required">Ingresa un nombre</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Apellido</label>
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
            />
            <div
              *ngIf="submitted && f.lastName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.lastName.errors.required">Ingresa un apellido</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">
                Ingresa un nombre de usuario
              </div>
              <div *ngIf="f.email.errors.email">Correo invalido</div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            />
            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.password.errors.required">
                Ingresa una contraseña
              </div>
              <div *ngIf="f.password.errors.minlength">
                La contraseña debe contener al menos 6 caracteres
              </div>
            </div>
          </div>
          <div>
            <button [disabled]="loading" class="btn btn-primary w-100 mb-2">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm me-1"
              ></span>
              Registrarse
            </button>
            <button
              routerLink="../login"
              class="btn btn-secondary w-100"
              type="button"
            >
              Iniciar Sesión
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
