<div class="row align-items-start justify-content-center mt-4">
  <!-- Funciones -->
  <div class="col-md-5">
    <div class="d-flex align-items-center">
      <h3 class="fs-5 fw-bold mb-0">Funciones</h3>
      <button class="btn btn-danger ms-3" (click)="toggleFuncionesButton()"> {{ buttonTextFunciones }}</button>
    </div>
    <div *ngIf="showFuncionesButton" class="mt-3">
      <button class="btn btn-show" (click)="openCustomModal()">Mostrar Películas y Categorías</button>
    </div>

    <!-- Modal de Selección de Funciones -->
    <app-custom-dialog
      [categories]="categories"
      [movies]="movies"
      [selectedCategories]="selectedCategories"
      [selectedMovies]="selectedMovies"
      [show]="showCustomModal"
      (closeModal)="closeCustomModal()"
      (selectionsConfirmed)="onSelectionsConfirmed($event)">
    </app-custom-dialog>

    <!-- Listado de Funciones Seleccionadas -->
    <div *ngIf="selectedCategories.length > 0" class="selected-items mt-3">
      <h5>Categorías seleccionadas:</h5>
      <ul class="lista-categorias">
        <li *ngFor="let category of selectedCategories" class="categoria">{{ category }}</li>
      </ul>
    </div>

    <div *ngIf="selectedMovies.length > 0" class="selected-items">
      <h5>Películas seleccionadas:</h5>
      <ul class="lista-peliculas">
        <li *ngFor="let movie of selectedMovies" class="pelicula">{{ movie }}</li>
      </ul>
    </div>
    <div *ngIf="showConfirmFuncionesButton" class="mt-3">
      <button class="btn btn-danger" (click)="confirmFunciones()" [disabled]="!selectedCategories.length && !selectedMovies.length">CONFIRMAR FUNCIONES</button>
    </div>
  </div>

  <!-- Separador para alinear con Edad -->
  <div class="col-md-1"></div>

  <!-- Días -->
  <div class="col-md-5">
    <div class="d-flex align-items-center">
      <h3 class="fs-5 fw-bold mb-0">Días</h3>
      <button class="btn btn-danger ms-3" (click)="toggleDiasButton()">{{ buttonTextDias }}</button>
    </div>
    <div *ngIf="showDiasButton" class="mt-3">
      <button class="btn btn-show" (click)="openDiasModal()">Seleccionar Días</button>
    </div>
  
    <!-- Modal de Selección de Días -->
    <app-dias-dialog
      [diasDisponibles]="diasDisponibles"
      [diasSeleccionados]="diasSeleccionados"
      [show]="showDiasDialog"
      (closeModal)="closeDiasModal()"
      (diasConfirmados)="onDiasConfirmados($event)">
    </app-dias-dialog>
  
    <!-- Listado de Días Seleccionados -->
    <div *ngIf="diasSeleccionados.length > 0" class="selected-items mt-3">
      <h5>Días seleccionados:</h5>
      <ul class="lista-dias">
        <li *ngFor="let dia of diasSeleccionados" class="dia">{{ dia }}</li>
      </ul>
    </div>
    <div *ngIf="showConfirmDiasButton" class="mt-3">
      <button class="btn btn-danger" (click)="confirmDias()" [disabled]="!diasSeleccionados.length">CONFIRMAR DÍAS</button>
    </div>
  </div>
</div>