<div class="col-md-8 ms-5 d-flex flex-column align-items-center">
  <div class="video-container position-relative w-100">
    <div
      class="spinner-border text-danger position-absolute top-50 start-50 translate-middle"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>

    <div class="ratio ratio-16x9">
      <iframe
        src="https://www.youtube.com/embed/dG-Yk4SDm94"
        title="nombre"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>