<div class="bg-color"></div>
<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div
      *ngFor="let movie of carouselMoviesList; let i = index"
      class="carousel-item"
      [ngClass]="{ active: i === 0 }"
    >
      <img [src]="movie.photo" class="d-block w-75" [alt]="movie.name" />
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ movie.name }}</h5>
        <p>{{ movie.sinopsis }}</p>
      </div>
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="movie-results">
  <section class="results">
    <app-movie-listing
      *ngFor="let movieListing of movieListingList"
      [movieListing]="movieListing"
    ></app-movie-listing>
  </section>
</div>
