body,
html {
  overflow-x: hidden;
}

.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: space-around;
  margin: 0 10%;
}

.carousel-photo {
  width: 1000px;
  height: 750px;
  position:relative;
  max-width: 70%; /* Asegura que la imagen no exceda el ancho del contenedor */
  object-fit:contain; /* Mantiene las proporciones de la imagen */
  transform: translate(25%, 0%); /* Centra el elemento */
  
}