<div class="container py-4">
  <div class="row">
    <!-- Columna Izquierda -->
    <div class="col-lg-7">
      <div class="d-flex align-items-center mb-3">
        <i class="bi-file-earmark-text icon-red me-2 fs-3"></i>
        <strong class="mb-0 fs-4">Resumen de Compra</strong>
      </div>
      <div class="px-4">
        <!-- Detalles de la compra -->
        <div class="card-dark">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
              <i
                class="bi bi-ticket-detailed icon-red me-2 rotar"
                style="transform: rotate(45deg)"
              ></i>
              <strong>{{ movie_name || "Nombre de la Película" }}</strong>
            </div>
            <div>
              <span class="badge bg-secondary text-light me-2">{{
                idioma || "Idioma"
              }}</span>
              <span class="badge bg-secondary text-light">{{
                format || "Formato"
              }}</span>
            </div>
          </div>
          <div class="cards">
            <p class="mb-1">
              <strong>Cine:</strong> Av. Diego Portales 640, Local 300
            </p>
            <p class="mb-1">
              <strong>Fecha:</strong> {{ date || "Fecha no disponible" }}
            </p>
            <p class="mb-1">
              <strong>Hora y Sala:</strong> {{ hour || "Hora no disponible" }}
            </p>
            <p class="mb-1">
              <strong>Butacas:</strong>
              {{ seats.join(", ") || "Sin selección" }}
            </p>
            <p class="mb-1"><strong>Entradas:</strong></p>
            <ul class="list-unstyled">
              <li>
                {{ seats.length }} {{ format }} - BUTACA TRADICIONAL
                <span class="float-end">${{ price }}</span>
              </li>
              <li>Cargo por servicio <span class="float-end">$1.800</span></li>
            </ul>
          </div>
        </div>
        <!-- Métodos de Pago -->
        <div class="card-dark">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
              <i class="bi-credit-card icon-red me-2"></i>
              <strong>MÉTODOS DE PAGO</strong>
            </div>
          </div>
          <!-- Métodos de Pago -->
          <div
            class="d-flex flex-wrap gap-3 justify-content-start"
            style="padding-left: 32px"
          >
            <div
              class="payment-method rounded"
              *ngFor="let method of paymentMethods; let i = index"
              (click)="selectPaymentMethod(i)"
              [ngClass]="{
                selected: selectedPaymentMethod === i,
                dimmed:
                  selectedPaymentMethod !== null && selectedPaymentMethod !== i
              }"
            >
              <img
                [src]="method.image"
                [alt]="method.name"
                class="img-fluid img-thumbnail"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Columna Derecha -->
    <div
      class="col-lg-3 offset-1 d-flex justify-content-center align-items-center"
    >
      <div class="total-box">
        <h1 class="fs-2"><b>Total Compra</b></h1>
        <h2 id="totalPrice" class="fs-1">
          <b>${{ totalPrice }}</b>
        </h2>
        <button
          class="btn btn-danger btn-lg w-100 mt-3"
          (click)="completePurchase()"
        >
          PAGAR
        </button>
      </div>
    </div>
  </div>
</div>
