.container {
    max-width: 90%;
    min-height: auto;
    max-height: 100vh;
    height: fit-content;
    margin-top: 20px;
    padding: 10px;
}

.separator {
    width: 2px;
    height: 130px;
    background-color: #ff2e38;
    margin: auto;
}

.number {
    color: #ff2e38;
}

.btn-group, .input-group {
    gap: 10px;
}

.btn-dark {
    background-color: #333333;
    color: #9A9A9A;
    font-weight: bold;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-dark.active, .btn-dark:hover {
    background-color: #ff2e38;
    color: white;
}

.btn-danger {
    background-color: #ff2e38;
    color: white;
    font-weight: bold;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-danger:hover {
    background-color: #ff4a4a;
}

.input-price, .input-dates, .input-rooms {
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}