<div class="bg-color"></div>

<div class="container mt-3 d-flex flex-column">
  <div class="row align-items-start justify-content-center">
    <div class="col-md-3">
      <h2 class="fs-4 fw-bold text-start"><span class="number">01</span> | Opciones de Idioma</h2>
      <div class="btn-group w-100 mt-4" role="group">
        <button class="btn btn-dark" [ngClass]="{'active': selectedLanguage === 'subtitulada'}" (click)="selectLanguage('subtitulada')">SUBTITULADA</button>
        <button class="btn btn-dark" [ngClass]="{'active': selectedLanguage === 'doblada'}" (click)="selectLanguage('doblada')">DOBLADA</button>
      </div>
    </div>

    <div class="col-md-1 d-flex justify-content-center">
      <div class="separator"></div>
    </div>

    <div class="col-md-3">
      <h2 class="fs-4 fw-bold text-start"><span class="number">02</span> | Formato de Proyección</h2>
      <div class="btn-group w-100 mt-4" role="group">
        <button class="btn btn-dark" [ngClass]="{'active': selectedFormat === '2D'}" (click)="selectFormat('2D')">2D</button>
        <button class="btn btn-dark" [ngClass]="{'active': selectedFormat === '3D'}" (click)="selectFormat('3D')">3D</button>
        <button class="btn btn-dark" [ngClass]="{'active': selectedFormat === '4D'}" (click)="selectFormat('4D')">4D</button>
      </div>
    </div>

    <div class="col-md-1 d-flex justify-content-center">
      <div class="separator"></div>
    </div>

    <div class="col-md-3">
      <h2 class="fs-4 fw-bold text-start"><span class="number">03</span> | Asignación de Precio</h2>
      <div class="input-group mt-4">
        <input type="text" class="form-control input-price" placeholder="$" [(ngModel)]="price">
        <button class="btn btn-danger" (click)="confirmPrice()">CONFIRMAR</button>
      </div>
    </div>

    <div class="col-md-4 mt-5">
      <h2 class="fs-4 fw-bold text-start"><span class="number">04</span> | Fechas de Función</h2>
      <div class="input-group mt-4">
        <input type="date" class="input-dates" [(ngModel)]="date"/>
        <button class="btn btn-danger" (click)="addDates()">AGREGAR</button>
      </div>
    </div>

    <div class="col-md-5 mt-5">
      <h2 class="fs-4 fw-bold text-start"><span class="number">05</span> | Horario de Funciones</h2>
      <div class="input-group mt-4">
        <label class="fs-4 fw-bold text-start mt-2" for="hora"> Hora </label>
        <input type="time" class="form-control input-dates" [(ngModel)]="date"/>
        <label class="fs-4 fw-bold text-start mt-2" for="salas"> Sala </label>
        <select id="salas" class="form-control input-rooms">
          <option value="S1"> Sala 1 </option>
          <option value="S2"> Sala 2 </option>
          <option value="S3"> Sala 3 </option>
          <option value="S4"> Sala 4 </option>
          <option value="S5"> Sala 5 </option>
          <option value="S6"> Sala 6 </option>
          <option value="S7"> Sala 7 </option>
        </select>
        <button class="btn btn-danger" (click)="addDates()">AGREGAR</button>
      </div>
    </div>

    <button class="btn btn-danger mt-5 col-md-9">GUARDAR</button>
  </div>
</div>