<!-- nav -->
<div class="bg-color"></div>
<nav class="navbar navbar-expand p-5" *ngIf="user">
  <img
    id="nav-logo"
    src="assets/images/MAX_cinema_1.png"
    alt="Cinema Max Logo"
  />
  <ul class="nav nav-pills">
    <a class="nav-item nav-link" routerLink="/">PELICULAS</a>
    <button class="nav-item nav-link" (click)="logout()">CERRAR SESIÓN</button>
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="compra">Compra</a>
    </div>
    <div>
      <a class="nav-item nav-link" routerLink="/perfil">Perfil</a>
    </div>
  </ul>
</nav>

<!-- main app container -->
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
