<div class="container">
  <div class="row mx-5" style="height: 100vh">
    <!-- Columna Izquierda: Información del Usuario -->
    <div class="col-3 align-items-center">
      <div class="row justify-content-center mb-4">
        <div class="d-flex justify-content-center">
          <img
            src="/assets/images/FotoPerfilDefault.jpg"
            class="img-fluid rounded-circle"
            style="width: 120px; height: 120px"
          />
        </div>
      </div>
      <!-- Fila: Información del Usuario -->
      <div class="row-3">
        <div class="container">
          <div class="row align-items-center mb-3">
            <div class="col-12 d-flex">
              <h5 class="me-2 text-danger fw-bold">01</h5>
              <h5 class="fw-bold mb-0">| Información Personal</h5>
            </div>
          </div>

          <!-- Icono y nombre -->
          <div class="row mb-3 ms-4">
            <div class="col-12 d-flex align-items-center">
              <i class="bi bi-person-circle me-2"></i>
              <span> {{ user?.firstName }} {{ user?.lastName }}</span>
            </div>
          </div>

          <!-- Icono y correo electrónico -->
          <div class="row mb-3 ms-4">
            <div class="col-12 d-flex align-items-center">
              <i class="bi bi-envelope me-2"></i>
              <span>{{ user?.email }}</span>
            </div>
          </div>

          <!-- Modal para modificar información -->
          <div class="row ms-4">
            <div class="col-12">
              <a
                href="#"
                class="text-danger fw-bold text-decoration-underline"
                data-bs-toggle="modal"
                data-bs-target="#editUserModal"
                >Modificar información</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Fila: Informació adicional -->
      <div class="row-3 mt-4">
        <div class="container">
          <div class="row align-items-center mb-3">
            <div class="col-12 d-flex">
              <h5 class="me-2 text-danger fw-bold">02</h5>
              <h5 class="fw-bold mb-0">| Información Adicional</h5>
            </div>
          </div>

          <!-- Icono y nombre -->
          <div class="row mb-3 ms-4">
            <div class="col-12 d-flex align-items-center">
              <span
                >Para mantener tu información segura, te recomendamos cambiar tu
                contraseña regularmente.
              </span>
            </div>
          </div>

          <!-- Modal para modificar contraseña -->
          <div class="row ms-4">
            <div class="col-12">
              <a
                href="#"
                class="text-danger fw-bold text-decoration-underline"
                data-bs-toggle="modal"
                data-bs-target="#changePasswordModal"
                >Modificar Contraseña</a
              >
            </div>
          </div>
        </div>
        <!-- Fila: Botones -->
        <div class="d-flex flex-column gap-2 mt-4">
          <!-- Botón "Mis Compras" -->
          <button
            class="btn d-flex align-items-center justify-content-center px-4"
            [ngClass]="{
              'btn-danger':
                currentView === 'compras' || currentView === 'compraCompleta',
              'btn-dark':
                currentView !== 'compras' && currentView !== 'compraCompleta'
            }"
            (click)="changeView('compras')"
          >
            <i class="bi bi-cart me-2"></i> Mis Compras
          </button>

          <!-- Botón "Notificaciones" -->
          <button
            class="btn d-flex align-items-center justify-content-center px-4"
            [ngClass]="{
              'btn-danger': currentView === 'notificaciones',
              'btn-dark': currentView !== 'notificaciones'
            }"
            (click)="changeView('notificaciones')"
          >
            <i class="bi bi-bell me-2"></i>
            Notificaciones
          </button>
          <!-- Boton de prueba 
          <button class="btn-dark btn d-flex align-items-center justify-content-center px-4" (click)="addMockPurchase()">Añadir Compra Simulada</button> 
          -->
        </div>
      </div>
    </div>

    <!-- Columna Derecha: -->
    <div class="col-8 offset-1">
      <!-- Historial de Compras -->
      <div *ngIf="currentView === 'compras'">
        <h3>Historial de Compras</h3>
        <div class="scrollable-content mt-3 d-flex flex-column">
          <div
            *ngFor="let compra of user?.getBuys()"
            class="mb-4"
            (click)="changeView('compraCompleta'); selectCompra(compra)"
            style="cursor: pointer"
          >
            <div
              class="d-flex align-items-center bg-dark text-white rounded shadow-sm w-100"
              style="position: relative"
            >
              <!-- Barra roja lateral -->
              <div
                class="bg-danger"
                style="
                  width: 7.5px;
                  height: 100%;
                  position: absolute;
                  left: 0;
                  top: 0;
                "
              ></div>

              <!-- Contenido de la tarjeta -->
              <div
                class="p-3 flex-grow-1 d-flex justify-content-between"
                style="margin-left: 10px"
              >
                <!-- Información izquierda -->
                <div class="d-flex align-items-start">
                  <i
                    class="bi bi-file-earmark-text text-danger me-3 mt-3"
                    style="font-size: 3rem"
                  ></i>
                  <div>
                    <p class="mb-1">
                      <strong>Película:</strong> {{ compra.movieName }}
                    </p>
                    <p class="mb-1">
                      <strong>Fecha:</strong> {{ compra.date }}
                    </p>
                    <p class="mb-0"><strong>Hora:</strong> {{ compra.hour }}</p>
                  </div>
                </div>

                <!-- Información derecha -->
                <div class="text-end">
                  <p class="mb-1"><strong>Precio Pagado</strong></p>
                  <p class="mb-0 fs-5 fw-bold">${{ compra.price }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Notificaciones -->
      <div *ngIf="currentView === 'notificaciones'">
        <h3>Notificaciones</h3>
        <div class="scrollable-content mt-3 d-flex flex-column">
          <div *ngFor="let compra of listBuys" class="mb-4">
            <div
              class="d-flex align-items-center bg-dark text-white rounded shadow-sm w-100"
              style="position: relative"
            >
              <!-- Barra roja lateral -->
              <div
                class="bg-danger"
                style="
                  width: 7.5px;
                  height: 100%;
                  position: absolute;
                  left: 0;
                  top: 0;
                "
              ></div>

              <!-- Contenido de la tarjeta -->
              <div
                class="p-3 flex-grow-1 d-flex justify-content-between"
                style="margin-left: 10px"
              >
                <!-- Información izquierda (Pelicula, fecha, hora) -->
                <div class="d-flex align-items-start">
                  <i
                    class="bi bi-bell text-danger me-3 mt-2"
                    style="font-size: 3rem"
                  ></i>
                  <div>
                    <p class="mb-1">
                      <strong>Notificaciones</strong> Venom: El Último Baile
                    </p>
                    <p class="mb-1">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Rerum labore id a animi mollitia odio fugiat placeat quos,
                      harum ducimus. Distinctio aperiam optio dolores earum
                      natus alias debitis ratione ipsum!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Información Detallada Compra-->
      <div *ngIf="currentView === 'compraCompleta'">
        <h3>Detalles de la Compra</h3>
        <div>
          <div class="py-2 flex-grow-1 d-flex justify-content-between">
            <!-- Información izquierda (Pelicula, fecha, hora) -->
            <div
              class="d-flex align-items-center bg-dark text-white rounded shadow-sm w-100"
              style="position: relative"
            >
              <!-- Barra roja lateral -->
              <div
                class="bg-danger"
                style="
                  width: 7.5px;
                  height: 100%;
                  position: absolute;
                  left: 0;
                  top: 0;
                "
              ></div>

              <!-- Contenido de la tarjeta -->
              <div
                class="p-3 flex-grow-1 d-flex justify-content-between"
                style="margin-left: 10px"
              >
                <!-- Información izquierda -->
                <div class="d-flex align-items-start">
                  <i
                    class="bi bi-file-earmark-text text-danger me-3 mt-4"
                    style="font-size: 4.5rem"
                  ></i>
                  <div>
                    <p class="mb-1">
                      <strong>Película:</strong> {{ selectedCompra?.movieName }}
                    </p>
                    <p class="mb-1">
                      <strong></strong> {{ selectedCompra?.auditorium }}
                    </p>
                    <p class="mb-1">
                      <strong>Fecha:</strong> {{ selectedCompra?.date }}
                    </p>
                    <p class="mb-1">
                      <strong>Hora:</strong> {{ selectedCompra?.hour }}
                    </p>
                    <p class="mb-1">
                      <strong>Tickets:</strong> {{ selectedCompra?.tickets }}
                    </p>
                    <p class="mb-0">
                      <strong>Asientos:</strong> {{ selectedCompra?.seats }}
                    </p>
                  </div>
                </div>

                <!-- Información derecha -->
                <div class="text-end">
                  <p class="mb-1"><strong>Precio Pagado</strong></p>
                  <p class="mb-0 fs-5 fw-bold">${{ selectedCompra?.price }}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Boton para volver al historial -->
          <div class="row pt-3 px-2">
            <button
              class="btn-dark btn d-flex align-items-center justify-content-center px-2 py-2"
              (click)="changeView('compras')"
            >
              <i class="bi bi-back px-2"></i>
              Volver al Historial
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="editUserModal"
  tabindex="-1"
  aria-labelledby="editUserModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content custom-modal">
      <!-- Encabezado del modal -->
      <div class="modal-header custom-modal-header">
        <h5 class="modal-title" id="editUserModalLabel">
          Modificar Información
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <!-- Cuerpo del modal -->
      <div class="modal-body custom-modal-body">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="firstName" class="form-label text-light">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              formControlName="firstName"
            />
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label text-light">Apellido</label>
            <input
              type="text"
              class="form-control"
              id="lastName"
              formControlName="lastName"
            />
          </div>
          <button type="submit" class="btn btn-danger w-100">
            Guardar Cambios
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="changePasswordModal"
  tabindex="-1"
  aria-labelledby="changePasswordModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content custom-modal">
      <!-- Encabezado del modal -->
      <div class="modal-header custom-modal-header">
        <h5 class="modal-title" id="changePasswordModalLabel">
          Modificar Contraseña
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <!-- Cuerpo del modal -->
      <div class="modal-body custom-modal-body">
        <form [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">
          <div class="mb-3">
            <label for="currentPassword" class="form-label text-light"
              >Contraseña Actual</label
            >
            <input
              type="password"
              class="form-control"
              id="currentPassword"
              formControlName="currentPassword"
              required
            />
          </div>
          <div class="mb-3">
            <label for="newPassword" class="form-label text-light"
              >Nueva Contraseña</label
            >
            <input
              type="password"
              class="form-control"
              id="newPassword"
              formControlName="newPassword"
              required
            />
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label text-light"
              >Confirmar Contraseña</label
            >
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              formControlName="confirmPassword"
              required
            />
          </div>
          <button type="submit" class="btn btn-danger w-100">
            Guardar Contraseña
          </button>
        </form>
      </div>
    </div>
  </div>
  <!-- buton 
  <button
      class="btn btn-secondary d-flex align-items-center justify-content-center px-4"
      (click)="generateMockBuys()"
    >
      <i class="bi bi-plus-circle me-2"></i> Generar Compras Simuladas
    </button>-->
</div>
