.movie-info {
  display: flex;
  flex-direction: column;
  align-items:center;
  color: white;
  height: 100%;
  width: 30%;
  float: left;
}



.add-movie-button {
  width: 16vw; 
  height: 47vh; 
  background-color: #e0e0e0;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

}

.add-movie-button:hover {
  background-color: #d0d0d0;
}

.add-icon {
  width: 4vw; 
  height: 4vw;
  max-width: 50px;
  max-height: 50px;
  opacity: 0.6;
}

.movie-details {
  margin-left: 35%;
  width: 60%;
}

.movie-title {
  font-size: 17px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.borde-rojo {
  border-bottom-color: #FF2E38;
  width: 91.5%;
}

.detail-item {
  margin-top: 5px; 
}

.detail-title {
  font-size: 1.2em;
  color: white;
}

.detail-info {
  font-size: 0.9em; 
  color: rgba(255, 255, 255, 0.478); 
  margin: 0; 
}

.edit-button {
  margin-top: 2vh;
  width: 14vw;
  padding: 5px 10px;
  background-color: #FF2E38;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  left: 13%;
  bottom: 0;
}

app-video-player {
  width: 75%;
  height: 40%;
  float: right;
}  


app-schedule {
  width: 75%;
  height: 60%;
  float: right;
}

.mensaje {
  color: white;
}

.titulo-mensaje {
  font-size: 25px;
  font-weight: bolder;
  margin-left: 10px;
}

.modal-content {
  background-color: #1f1f1f;
}

.caja-sinop {
  padding: 10px 15px;
}