<div class="bg-color"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 d-flex justify-content-center">
      <div class="card w-75 ms-5">
        <img
          class="card-img-top"
          src="assets/images/insert-image.png"
          alt="INSERT IMAGE"
        />
        <div class="card-header border-danger">
          <h2 class="card-title">
            <strong>MOVIE NAME</strong>
          </h2>
        </div>
        <div class="card-body">
          <strong>Sinopsis</strong>
          <p class="card-text">EJEMPLO SINOPSIS</p>
        </div>
        <div class="card-footer">
          <strong>Duración</strong>
          <p>X minutos</p>
        </div>
        <button
          class="btn btn-primary w-100 mb-2"
          data-bs-toggle="modal"
          data-bs-target="#editInfo"
        >
          EDITAR
        </button>
      </div>
    </div>

    <div class="col-md-8 ms-5 d-flex flex-column align-items-center">
      <div class="video-container position-relative w-100">
        <div
          class="spinner-border text-danger position-absolute top-50 start-50"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>

        <div class="ratio ratio-16x9 img">
          <div class=""></div>
          <iframe
            src=""
            title="EJEMPLO"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<!------------------------------------------------------------ Modal -------------------------------------------------------------->
<div class="mensaje modal fade" id="editInfo">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="titulo-mensaje" id="exampleModalLabel">Editar</h1>
        <button class="btn" data-bs-dismiss="modal">X</button>
      </div>
      <div class="modal-body">
        <form class="p-4 border rounded shadow-sm">
          <div class="mb-3">
            <label for="email" class="form-label">Titulo de la pelicula</label>
            <input
              type=""
              class="form-control"
              id="email"
              placeholder="Ingresa tu correo"
              required
            />
            <div class="form-text"></div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Sinapsis</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Contraseña"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Duración</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Contraseña"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Imagen</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Contraseña"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Link del video</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Contraseña"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-cerrar" data-bs-dismiss="modal">Cerrar</button>
        <button class="btn btn-danger">Guardar</button>
      </div>
    </div>
  </div>
</div>

<app-schedule></app-schedule>
