<div class="row align-items-start justify-content-center mt-4">
  <div class="col-md-11">
    <h2 class="fs-4 fw-bold text-start"><span class="number">05</span> | Condiciones</h2>
  </div>
</div>

<div class="row align-items-start justify-content-center mt-4">
  <!-- Fechas -->
  <div class="col-md-5">
    <div class="d-flex align-items-center">
      <h3 class="fs-5 fw-bold mb-0">Fechas</h3>
      <button class="btn btn-danger ms-3" (click)="toggleDateSelector()">{{ buttonTextFecha }}</button>
    </div>

    <div *ngIf="showDateSelector" class="mt-3">
      <div class="input-group d-flex">
        <input type="date" class="input-dates" [(ngModel)]="date" [disabled]="fechas.length >= 2" />
        <button class="btn btn-danger ms-2 btn-lg" (click)="addFecha()" [disabled]="!date || fechas.length >= 2">SELECCIONAR</button>
      </div>
    </div>

    <div class="cont-fech mt-3">
      <ul class="lista-fechas">
        <li *ngFor="let f of fechas; let i = index" class="fecha">
          <button class="btn-borrarFecha" (click)="removeFecha(i)"> X </button>
          <span>
            {{ i === 0 ? 'Desde: ' : 'Hasta: ' }}
            {{ f }}
          </span>
        </li>
      </ul>
    </div>
    <div class="input-group mt-3" *ngIf="mostrarBotonFecha">
      <button class="btn btn-danger" (click)="confirmFechas()" [disabled]="fechas.length < 2">CONFIRMAR FECHAS</button></div>
  </div>

  <div class="col-md-1"></div>

  <!-- Horarios -->
  <div class="col-md-5">
    <div class="d-flex align-items-center">
      <h3 class="fs-5 fw-bold mb-0">Horarios</h3>
      <button class="btn btn-danger ms-3" (click)="toggleTimeSelector()">{{ buttonTextHora }}</button>
    </div>
  
    <div *ngIf="showTimeSelector" class="mt-3">
      <div class="input-group">
        <input type="time" class="form-control input-dates" [(ngModel)]="hora" [disabled]="horarios.length >= 2" />
        <button class="btn btn-danger mt-2" (click)="addHora()" [disabled]="!hora || horarios.length >= 2">SELECCIONAR</button>
      </div>
    </div>
  
    <div class="cont-horas mt-3">
      <ul class="lista-horas">
        <li *ngFor="let h of horarios; let i = index" class="hora">
          <button class="btn-borrarHora" (click)="removeHora(i)"> X </button>
          <span>
            {{ i === 0 ? 'Desde las : ' : 'Hasta las: ' }}
            {{ h }}
          </span>
        </li>
      </ul>
    </div>
    <div class="input-group mt-3" *ngIf="mostrarBotonHora">
      <button class="btn btn-danger" (click)="confirmHorarios()" [disabled]="horarios.length < 2">CONFIRMAR HORARIOS</button></div>
  </div>
</div>
  