<div class="container">
    <h2>Agregar Película</h2>
  
    <form [formGroup]="peliculaForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="titulo">Título</label>
        <input id="titulo" class="form-control" formControlName="titulo" />
      </div>
  
      <div class="form-group">
        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" class="form-control" formControlName="descripcion"></textarea>
      </div>
  
      <div class="form-group">
        <label for="duracion">Duración (minutos)</label>
        <input id="duracion" type="number" class="form-control" formControlName="duracion" />
      </div>
  
      <div class="form-group">
        <label for="fechaEstreno">Fecha de Estreno</label>
        <input id="fechaEstreno" type="date" class="form-control" formControlName="fechaEstreno" />
      </div>
  
      <div class="form-group">
        <label for="genero">Género</label>
        <input id="genero" class="form-control" formControlName="genero" />
      </div>
  
      <button type="submit" class="btn btn-success">Crear</button>
    </form>
  </div>
  